[submodule "repos/vimcolors/papercolor"]
	path = repos/vimcolors/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "repos/vimcolors/gruvbox"]
	path = repos/vimcolors/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "repos/vimcolors/molokai"]
	path = repos/vimcolors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "repos/vimcolors/atom-dark"]
	path = repos/vimcolors/atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "repos/vimcolors/tokyo-metro"]
	path = repos/vimcolors/tokyo-metro
	url = https://github.com/koirand/tokyo-metro.vim.git
[submodule "repos/vimcolors/ice-berg"]
	path = repos/vimcolors/ice-berg
	url = https://github.com/cocopon/iceberg.vim.git
