[submodule "repos/vimcolors/papercolor"]
	path = repos/vimcolors/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "repos/vimcolors/gruvbox"]
	path = repos/vimcolors/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "repos/vimcolors/molokai"]
	path = repos/vimcolors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "repos/vimcolors/atom-dark"]
	path = repos/vimcolors/atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "repos/vimcolors/tokyo-metro"]
	path = repos/vimcolors/tokyo-metro
	url = https://github.com/koirand/tokyo-metro.vim.git
[submodule "repos/vimcolors/ice-berg"]
	path = repos/vimcolors/ice-berg
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "repos/vimrc"]
	path = repos/vimrc
	url = https://github.com/amix/vimrc.git
[submodule "repos/vimcolors/Zenburn"]
	path = repos/vimcolors/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "repos/vimcolors/tender.vim"]
	path = repos/vimcolors/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "vim-material"]
	path = vim-material
	url = https://github.com/hzchirs/vim-material.git
